<form [formGroup]="rForm" (ngSubmit)="submit(rForm)">
  <h1 mat-dialog-title> Register </h1>
  <mat-dialog-content>
      <div>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="your email">
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="your password">
    </mat-form-field>
  </div>
  <div>
    <!-- <mat-form-field>
      <input matInput formControlName="password" placeholder="confirm your password">
    </mat-form-field> -->
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="firstName" placeholder="first name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="lastName" placeholder="first name">
    </mat-form-field>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit"> Register</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
