<div fxFill fxFlex="100" fxLayout="column">
  <div fxFlex="10"></div>
  <div fxFlex="70" fxFill fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="5"> </div>
    <div  fxFill fxFlex="90" fxLayout="column"  >
        <h1  fxFlex="2" fxLayoutAlign="center center" >{{details.title}}</h1>
        <h3  fxFlex="2" fxLayoutAlign="center center" >Description</h3>
        <div class="mat-elevation-z2" fxFlex="92"> {{details.description}}</div>
        <div fxFlex="2"></div>
        <div  fxFlex="2" fxLayoutAlign="center center"><a (click)="applyJob(details.id)" mat-raised-button color="primary">apply now</a></div>
        <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>


