<h1 mat-dialog-title> Add Job Ad</h1>
<mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="data.title" placeholder="Job title">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="data.description" placeholder="description">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="data.category" placeholder="category">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="data.status" placeholder="status">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-content>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <button mat-button (click)="noClick()">Cancel</button>
</mat-dialog-content>