<form [formGroup]="rForm" (ngSubmit)="submit(rForm)">
<h1 mat-dialog-title> Add Job Ad</h1>
<mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Job title">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <!-- <input matInput formControlName="description" placeholder="description"> -->
      <textarea matInput formControlName="description" placeholder="description"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select formControlName="category" placeholder="category">
        <mat-option *ngFor="let catOption of catOptions" [value]="catOption">
          {{ catOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select formControlName="status" placeholder="status">
        <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption">
          {{ statusOption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-content>
  <button mat-button  type="submit" cdkFocusInitial>Ok</button>
  <button mat-button mat-dialog-close >Cancel</button>
</mat-dialog-content>
</form>