<div  fxFill fxLayout="row" fxLayoutAlign fxLayout fxLayoutAlign="center">
  <div class="container" fxFlex="98%" fxLayoutAlign="none" fxLayoutGap="20px" fxLayout fxLayout="column">
    <!-- <div fxFlex="20%" class="item">item 1</div> -->
    <div fxFlex="1%" ></div>
    <div fxFlex="60%" [ngStyle]="{'background-image': 'url(\'' + background + '\')','background-size':'cover'}" class="item picture">Home Works</div>
    <div fxFlex="30%" class="item" fxLayout="row">
      <div fxFlex="20%" class="item">item 1</div>
      <div fxFlex="60%" class="item">item 2</div>
      <div fxFlex="20%" class="item">item 1</div>
    </div>
  </div>
</div>
